body {
    position: relative;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: solid underline;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  ul,
  ol {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  
  li {
    font-size: 20px;
    margin-bottom: 10px;
    /* display: inline; */
  }
  
  li:last-child {
    margin-bottom: 0;
  }

  footer{
    color: orangered;
  }
.nav {
    margin-right: 10px;
}

nav a:link {
    color:brown;
    font-size: 18px;
    text-decoration: none;
}

nav a:visited {
    color: blueviolet;
}

nav a:hover {
    color: chocolate;
    font-style: italic;
    text-decoration: underline chocolate;
}

nav a:active {
    color: aqua;
    text-decoration: underline aqua;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

.title{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0;
}

.posted-author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.author {
    margin-left: 5px;
    margin-bottom: 0;
}

article {
    width: 900px;
}

.author-info {
    background-color: antiquewhite;
    width: 400px;
}

.author-description {
    width: 350px;
    margin-left: 25px;
}

aside {
    background-color: antiquewhite;
    width: 400px;
}

.social-network {
    background-color: antiquewhite;
    width: 400px;
}

li a:link {
    color:brown;
    font-size: 18px;
    text-decoration: none;
}

li a:visited {
    color: blueviolet;
}

li a:hover {
    color: chocolate;
    font-style: italic;
    text-decoration: underline chocolate;
}

li a:active {
    color: aqua;
    text-decoration: underline aqua;
}

.relatePost-El {
    width: 160px;
}

.relatePost{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: space-evenly;
} 

.main-container {
    display: flex;
    gap: 20px;
}

.aside-container {
    align-self: flex-start;
}

@media (max-width: 800px) {
    .main-container {
      flex-direction: column;
    }
  }